.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: #000;
}

.add-new-publication-container {
    width: 95%;
    height: 60px;
    margin: 5px auto;
    margin-top: 20px;
}

.publication-feed-container {
    display: inline-block;
    vertical-align: top; /* here */
    width: 95%;
    min-height: 500px;
    background-color:#f0f0f0;
    margin: 5px;
}

.publication-feed-container-for-profile {
    display: inline-block;
    vertical-align: top; /* here */
    width: 100%;
    min-height: 800px;
    background-color:#f0f0f0;
}

.filters-block {
    display: flex;
    justify-content: space-between;
    vertical-align: top; /* here */
    width: 100%;
    min-height: 50px;
    background-color:#b3b3b3;
}

.feed-block {
    display: inline-block;
    vertical-align: top; /* here */
    width: 100%;
}

.feed-card {
    margin: 10px;
}

.add-button {
    position: fixed;
    margin: 10px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.add-button-text {
    font-size: 35px;
    color: black;
}

.comments-count {
    font-size: 12px;
}


@media screen and (min-width: 768px) {
    .main-container {
        width: 25%;
        margin: auto;
    }
    
}

